@import "colors.less";
@import "flex.less";
@import "/client/less/sizes.less";

body {
    .vertical-flex;
    align-items: flex-start;
    font-family: Arial;
    margin: 0;
    padding: 10px;
    background-color: @palette_dark_blue;
    .main-view {
        .vertical-flex;
        &> *:not(:last-child)
        {
          margin-bottom:@medium_spacing;
        }

        color: black;
        align-self: stretch;
        background-color: @palette_light_blue;
        border: 1px solid #999;
        min-height: 100px;
        padding: 10px;
        max-width: 1000px;
        min-width: 500px;

        .fit-pic
        {
         &.main-pic img
         {
            border:2px solid @highlight_color;
         }
         img
          {
            max-width: 100%;
            height: auto;
          }
        }
    }
}

.header {
    .vertical-flex;
    align-items: flex-start;
    .menu.top > * {
        color: @palette_light_blue;
        font-size: 22px;
        cursor: pointer;
        font-family: 'Sertig';
        height: 30px;
        font-size: 22px;
        text-shadow: 2px 2px 2px #444;
        background-color: rgba(230, 240, 250, 0);
        display: flex;
        padding: 10px;

        &.hidden{
            display: none;
        }

        &:hover {
            color: @palette_white;
        }
    }
}
